body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  color:#141313;
  
}

h1{
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  color:#e84f0e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 h2, h3 {
  color: #e84f0e;
  font-weight: 600;
  font-size: 20px;
  text-transform: initial;
  margin-bottom: 10px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.details-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  gap: 45px;
}

img {
  width: 100%;
  height: 610px;
  border-radius: 60px;
  padding-left: 10px;
  
}

.content {
  box-shadow: 0 0px 20px #978484;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding:0px 30px 0px 30px;
  margin: 0 20px 20px 0px;
}

.description {
  margin-top: 15px;
  line-height: 1.6;
  color: #444;
}

ul, ol {
  padding-left: 30px;
}

.btn-retour {
  display: inline-block;
  margin: 20px;
  background: #992f13;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s ease;

}

.btn-retour:hover {
  background: #f07c4f;
}



