.edit-rec-container {
  max-width: 650px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

.edit-rec-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #ff7b00;
}

/* FORM STYLE */
.edit-rec-container form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-right: 15px;
}

.edit-rec-container label {
  font-weight: bold;
  color: #444;
  margin-bottom: 5px;
}

.edit-rec-container input,
.edit-rec-container textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  background: #fafafa;
  transition: border 0.2s ease;
}

.edit-rec-container input:focus,
.edit-rec-container textarea:focus {
  border-color:#ff7b00;
  outline: none;
}

.edit-rec-container textarea {
  min-height: 100px;
  resize: vertical;
}

/* BUTTON */
.edit-rec-container button {
  background: #ff7b00;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.confirm-btn {
  padding: 8px 18px;
  background: #4caf50;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn {
  padding: 8px 18px;
  background: #f44336;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}