body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  color:#0f0c0c;
}

h1, h2, h3 {
  color: #333;
  font-weight: 600;
  font-size: 20px;
  text-transform: initial;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.btn-details {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #008cff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn-details:hover {
  background: #006ad1;
}

.details-container {
  max-width: 700px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.main-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.description {
  margin-top: 15px;
  line-height: 1.6;
  color: #444;
}

ul, ol {
  padding-left: 20px;
}

.btn-retour {
  display: inline-block;
  margin-top: 20px;
  background: #8da2b7;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-retour:hover {
  background: #2c2929;
}



